.navbar-brand {
    color: white;
    background-color: lightseagreen;
    font-weight: bold;
}

.nav-item.dropdown.show {
    background-color: #ddd;
}

.nav-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}
a.nav-padding {
    padding-left: 7px;
    padding-right: 7px;
}
.collapse {
    right: -20px;
    padding-right: 10px;
}
.navbar-nav {
    color: black;
}
body {
    background-color:lightgray;
  }

.title-header {
    color: lightseagreen;
}
.descriptions {
    color: black;
    font-size: 12px;
}

.col-lg-6 {
    padding-top: 20px;
    height: 90%;
}
.index-container {
    height: 90vh;
}

.boxes {
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
}


h2 {
    color: lightseagreen;
    text-align: center;
}
.table {
    font-size: small;
}

/* CITIES CSS */

.data-container {
    background-color: white;
    padding-left: 60px;
    padding-top: 20px;
    width: 70%;
}

#data-margin {
    margin-top: 20px;
}
h3 {
    font-size: small;
}